services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres_prod
    restart: always
    env_file:
      - .env.prod
    ports:
      - "5432:5432"
    volumes:
      - pgdata_prod:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: redis_prod
    restart: always
    ports:
      - "6379:6379"
    env_file:
      - .env.prod

  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: ts_app_prod
    depends_on:
      - postgres
      - redis
    env_file:
      - .env.prod
    ports:
      - "3000:3000"
    command: npm run start

volumes:
  pgdata_prod:
